.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:lawngreen;
    transition: all .5s ease;
}
.btn:hover{
    background: transparent;
    border-color:lawngreen;
}
.flex-1{
    flex: 0.4;
}
